#root {
  height: 100%;
  width: 100%;
}

html[data-theme=dark] {
  --button-text-color: #1abc9c;
  --button-text-color-hover: #ffffff;
  --button-background-color: #ffffff;
  --button-background-color-hover: #8ed1b2;
  --button-border-color: #1abc9c;
  --background-color: #e2e2e2;
  --second-background-color: #ffffff;
  --text-color: #bbbbbb;
  --text-color-hover: #8ed1b2;
  --yellow-text-color: #f39c12;
  --brown-text-color: #a5794f;
  --brown-text-color-hover: #1abc9c;
}

html[data-theme=light] {
  --button-text-color: #1abc9c;
  --button-text-color-hover: #ffffff;
  --button-background-color: #ffffff;
  --button-background-color-hover: #8ed1b2;
  --button-border-color: #1abc9c;
  --background-color: #f7f7f7;
  --second-background-color: #ffffff;
  --text-color: #bbbbbb;
  --text-color-hover: #8ed1b2;
  --yellow-text-color: #ffcc66;
  --brown-text-color: #a5794f;
  --brown-text-color-hover: #1abc9c;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Lato", serif;
  background-color: var(--background-color);
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.header {
  background-color: white;
}

.footer {
  background-color: white;
}