@import '../../../common/general.scss';
.burger {
	transform: translate(0, 12%);
}
.burger__content {
	// overflow: hidden;
	height: 0;
	width: 0;
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	opacity: 0;
	pointer-events: none;
	transition: all 0.1s linear;
	@include df-centr;
	&.active {
		transition: all 0.1s linear;
		opacity: 1;
		pointer-events: all;
	}
	@media (max-width: 959.98px) {
		height: 100vh;
		width: 100vw;
	}
}
.burger__block {
	position: absolute;
	z-index: 2;
	top: 0;
	right: -50%;
	width: 30vw;
	height: 100vh;
	padding: 1rem;
	@include bg-color;
	transition: all 0.2s linear;
	&.active {
		right: 0%;
		transition: all 0.2s linear;
	}
	@media (max-width: 959.98px) {
		width: 30vw;
		height: 100vh;
	}
	@media (max-width: 767.98px) {
		width: 50vw;
		height: 100vh;
	}
	@media (max-width: 33.74875em) {
		width: 100vw;
		height: 100vh;
	}
}
.burger__links {
	display: block;
}
.burger__linkText {
	@include brown-color;

	display: block;
	text-align: start;
	font-weight: 500;
	font-size: 1.5rem;
	font-weight: 600;
	padding: 0.5rem;
	margin-top: 1.5rem;
	&:focus {
		font-weight: 600;
	}
}
.burger__theme {
	@include color;
	@include df-centr;
	width: 21px;
	height: 21px;
	display: inline;
	font-size: 1.4rem;
	padding: 0.5rem;
	margin-top: 1.5rem;
}
.burger__row {
	display: inline-flex;
	gap: 1rem;
}
// @media (max-width: 1151.98px) {

// }
// @media (max-width: 959.98px) {

// }
// @media (max-width:767.98px) {

// }
// @media (max-width:539.98px) {

// }
// @media (max-width:400.98px) {

// }
