@import '../../../common/general.scss';
.mainList {
	font-family: $ffLato;
	padding: 1.5rem 0;
	margin-bottom: 2rem;
	@media (max-width: 767.98px) {
		padding: 1rem 0;
		margin-bottom: 1rem;
	}
}
.mainList__title {
	@include brown-color;

	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	@media (max-width: 767.98px) {
		font-size: 1.2rem;
	}
}
.mainList__row {
	display: flex;
	gap: 1rem;
	margin-bottom: 1rem;
}
.mainList__link {
	@include brown-color;

	background-color: var(--background-color);
	border-radius: 50%;
	overflow: hidden;
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
}
.mainList__list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	gap: 1rem;
	max-width: 100%;
	@media (max-width: 1151.98px) {
		grid-template-columns: 1fr 1fr;
	}
	@media (max-width: 539.98px) {
		grid-template-columns: 1fr;
	}
}
// @media (max-width: 1151.98px) {

// }
// @media (max-width: 959.98px) {

// }
// @media (max-width:767.98px) {

// }
// @media (max-width:539.98px) {

// }
// @media (max-width:400.98px) {

// }
