@import '../../../common/general.scss';

.selectAdress {
	font-family: $ffLato;
	color: $clBlack;
}
.selectAdress__title {
	font-family: $ffPlayfair-Display;
	font-size: 2.5rem;
}
.selectAdress__list {
	padding: 1.5rem 0 1.5rem 1rem;
}
.selectAdress__hr {
	display: block;
	width: 100%;
	height: 2px;
	background-color: $clgreyText;
	margin-bottom: 1rem;
}
.selectAdress__local {
	@include df-centr;
	padding: 0.5rem 1rem;
	color: $clBrown;
	font-size: 1.5rem;
	span {
		margin-left: 0.5rem;
	}
}

.selectAdress__btn {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}
