@import '../../common/general.scss';
.contact {
	@include color;
	font-family: $ffLato;
	max-width: 700px;
	margin: 0 auto;
	& > div,
	h2,
	h3 {
		margin-bottom: 1rem;
	}
}
.contact__title {
	@include brown-color;

	font-size: 1.75rem;
	margin-bottom: 1.5rem;
	font-weight: 600;
}
.contact__text {
}
.contact__subTitle {
	font-size: 1.25rem;
	margin-bottom: 0.5rem;
	font-weight: 600;
}
