@import '../../../common/general.scss';
.basket {
	position: sticky;
	top: -2rem;
	padding-top: 3.5rem;
	min-width: 250px;
	min-height: 300px;
	@media (max-width: 959.98px) {
		top: 0rem;
		padding-top: 1rem;
	}
}
.basket__content {
	@include bg-color;
	@include df-centr;

	flex-direction: column;
	gap: 0.5rem;
	min-width: 250px;
	padding: 1rem;
	border-radius: 1rem;
}
.basket__img {
	@include brown-color;
	text-align: center;
	width: 3.125rem;
	height: 3.125rem;
}
.basket__items {
	border-top: 1px solid var(--text-color);
	display: block;
	width: 100%;
	height: 100%;
}
.basket__itemImgage {
	object-fit: contain;
	width: 4rem;
	height: 4rem;
}
.basket__itemRow {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.5rem;
}
.basket__rowCentr {
	@include df-centr;
	gap: 0.5rem;
}
.basket__itemBtn {
	@include df-centr;
	padding-bottom: 0.2rem;
	font-size: 1.5rem;
	color: white;
	background-color: var(--button-background-color-hover);
	width: 1.875rem;
	height: 1.875rem;
	border-radius: 50%;
}

.basket__text {
	@include brown-color;
	padding: 0.5rem 0;
	background-color: white;
}
.basket__btn {
	font-weight: 600;
	@media (hover: hover) {
		&:hover {
			text-decoration: underline;
		}
	}
	@media (hover: none) {
		&:active {
			text-decoration: underline;
		}
	}
}

.basket__length {
	@include df-centr;
	position: absolute;
	transform: translate(-5px, -15px);
	background-color: red;
	font-size: 0.8rem;
	border-radius: 50%;
	color: white;
	width: 20px;
	height: 20px;
}

.basket__row {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}
