$clGreen: #1abc9c;
$clYellow: #ffcc66;
$clGreen-hover: #8ed1b2;
// $clgrey: #f9f9f9;
$clgrey: #f8f8f8;
$clgreyText: #bbbbbb;
$clBrown: #b88658;
$clBrown-hover: #a5794f;
$clBlack: #333333;
// Light colors theme
//---------------------
$clDarkGreen: #1abc9c;
$clDarkYellow: #f39c12;
$clDarkGreen-hover: #8ed1b2;
$clDarkgrey: #121212;
$clDarkBrown: #b88658;
$clDarkWhite: #f9f9f9;
// Dark colors theme
//---------------------
$ffPlayfair-Display: 'Playfair Display', sans-serif;
$ffLato: 'Lato', serif;
